.u-section-1 .u-sheet-1 {
  min-height: 744px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 75px auto 75px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 594px;
}

.u-section-1 .u-shape-1 {
  height: 519px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-text-1 {
  line-height: 1;
  font-size: 6rem;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  margin: -395px 0 0 33px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 594px;
  background-image: none;
}

.u-section-1 .u-line-1 {
  width: 140px;
  height: 19px;
  transform-origin: right center 0;
  margin: 75px 17px 0 auto;
}

.u-section-1 .u-image-1 {
  height: 429px;
  margin: 71px auto 0 0;
}

.u-section-1 .u-image-2 {
  background-image: url("images/5838fe8d2da320954f220f771aec1ee7.jpeg");
  min-height: 459px;
  background-position: 50% 50%;
}

.u-section-1 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 165px auto 0 120px;
}

.u-section-1 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 91px 75px 45px auto;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 135px;
}

.u-section-1 .u-text-2 {
  margin: 17px 0 0 20px;
}

.u-section-1 .u-line-2 {
  width: 140px;
  height: 19px;
  transform-origin: right center 0px;
  margin: 73px 23px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-shape-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    margin-right: 65px;
    margin-left: -231px;
  }

  .u-section-1 .u-line-1 {
    width: 116px;
    margin-right: 14px;
  }

  .u-section-1 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-icon-1 {
    height: 53px;
    width: 53px;
    margin-left: 99px;
  }

  .u-section-1 .u-icon-2 {
    height: 53px;
    width: 53px;
    margin-right: 62px;
  }

  .u-section-1 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-line-2 {
    width: 116px;
    margin-right: 19px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -441px;
    margin-right: 213px;
    margin-left: -229px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 938px;
  }

  .u-section-1 .u-line-1 {
    width: 167px;
    margin-right: 9px;
  }

  .u-section-1 .u-image-1 {
    width: 204px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-icon-1 {
    height: 40px;
    width: 40px;
    margin-left: 76px;
  }

  .u-section-1 .u-icon-2 {
    height: 40px;
    width: 40px;
    margin-right: 47px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-line-2 {
    width: 173px;
    margin-top: 101px;
    margin-right: 162px;
    margin-left: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1218px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-shape-1 {
    height: 251px;
    margin-top: 228px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: -470px;
    margin-right: 17px;
    margin-left: 125px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 1407px;
  }

  .u-section-1 .u-line-1 {
    width: 157px;
    transform-origin: left center 0;
    margin-top: 105px;
    margin-right: auto;
    margin-left: 21px;
  }

  .u-section-1 .u-image-1 {
    width: 239px;
    margin-top: 41px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-icon-1 {
    height: 38px;
    width: 38px;
    margin-left: 57px;
  }

  .u-section-1 .u-icon-2 {
    height: 38px;
    width: 38px;
    margin-right: 36px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-line-2 {
    width: 83px;
    margin-right: 11px;
    margin-bottom: 9px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 6rem;
    margin-top: -337px;
    margin-right: 21px;
    margin-left: 63px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 886px;
  }

  .u-section-1 .u-line-1 {
    width: 136px;
    margin-left: 6px;
  }

  .u-section-1 .u-image-1 {
    width: 178px;
  }

  .u-section-1 .u-icon-1 {
    height: 32px;
    width: 32px;
    margin-left: 36px;
  }

  .u-section-1 .u-icon-2 {
    height: 32px;
    width: 32px;
    margin-right: 22px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-line-2 {
    width: 70px;
    margin-top: 93px;
    margin-right: 7px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 712px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 157px auto 0 0;
}

.u-section-2 .u-image-1 {
  min-height: 480px;
  background-image: url("images/43f2213d3e8ac682d0f9ca85149a785b.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 512px;
}

.u-section-2 .u-container-layout-2 {
  padding-right: 60px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 6rem;
  line-height: 1;
  width: 380px;
  margin: 40px auto 0;
}

.u-section-2 .u-image-2 {
  width: 43px;
  height: 238px;
  margin: -315px 70px 0 auto;
}

.u-section-2 .u-text-2 {
  margin: 97px 60px 0;
}

.u-section-2 .u-line-1 {
  width: 912px;
  position: relative;
  margin: 30px 20px 70px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 640px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 480px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 49px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 49px;
    margin-right: 49px;
  }

  .u-section-2 .u-image-2 {
    width: 35px;
    margin-right: 58px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 49px;
    margin-right: 49px;
  }

  .u-section-2 .u-line-1 {
    width: 752px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-container-layout-2 {
    padding-right: 38px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 38px;
    margin-right: 38px;
    width: 320px;
  }

  .u-section-2 .u-image-2 {
    width: 27px;
    margin-right: 44px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 38px;
    margin-right: 38px;
  }

  .u-section-2 .u-line-1 {
    width: 576px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 800px;
  }

  .u-section-2 .u-image-1 {
    min-height: 330px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 28px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 28px;
    margin-right: 28px;
  }

  .u-section-2 .u-image-2 {
    width: 25px;
    margin-right: 33px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 28px;
    margin-right: 28px;
  }

  .u-section-2 .u-line-1 {
    width: 531px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    min-height: 353px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 407px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 18px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 18px;
    margin-right: 18px;
    position: relative;
  }

  .u-section-2 .u-image-2 {
    width: 21px;
    margin-right: 21px;
  }

  .u-section-2 .u-text-2 {
    position: relative;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-2 .u-line-1 {
    width: 334px;
    margin-right: 6px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 287px;
}

.u-section-3 .u-group-1 {
  min-height: 242px;
  width: 800px;
  margin: 25px auto 0;
}

.u-section-3 .u-container-layout-1 {
  padding-right: 60px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 46px 30px 0 90px;
}

.u-section-3 .u-btn-1 {
  font-weight: 400;
  background-image: none;
  margin: 10px auto 0 306px;
}

.u-section-3 .u-line-1 {
  height: 192px;
  width: 19px;
  transform-origin: center top 0px;
  margin: -219px auto 30px 24px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    width: 660px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 49px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 49px;
    margin-right: 49px;
  }

  .u-section-3 .u-line-1 {
    width: 16px;
    margin-left: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    width: 505px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 38px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 38px;
    margin-right: 38px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 256px;
  }

  .u-section-3 .u-line-1 {
    width: 12px;
    margin-left: 15px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    width: 474px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 28px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 28px;
    margin-right: 28px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 96px;
  }

  .u-section-3 .u-line-1 {
    width: 11px;
    margin-left: 11px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 18px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-3 .u-line-1 {
    width: 9px;
    margin-left: 7px;
  }
}.u-section-4 {
  background-image: url("images/30d5cc5e0c9641b0bf8e69e0bc3e244e.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 546px;
}

.u-section-4 .u-image-1 {
  width: 168px;
  height: 355px;
  margin: 73px auto 0 33px;
}

.u-section-4 .u-group-1 {
  width: 827px;
  min-height: 210px;
  height: auto;
  margin: -231px 62px 0 auto;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 6rem;
  position: relative;
  margin: 3px 14px 0 26px;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  font-size: 6rem;
  margin: -105px 20px 0;
}

.u-section-4 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: -324px 120px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-4 .u-image-1 {
    width: 139px;
    margin-left: 27px;
  }

  .u-section-4 .u-group-1 {
    width: 660px;
    margin-right: 49px;
    height: auto;
  }

  .u-section-4 .u-text-1 {
    margin-right: 11px;
    margin-left: 22px;
  }

  .u-section-4 .u-text-2 {
    position: relative;
    margin: -64px 16px 60px;
  }

  .u-section-4 .u-icon-1 {
    height: 53px;
    width: 53px;
    margin-right: 99px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 345px;
  }

  .u-section-4 .u-image-1 {
    width: 106px;
    margin-left: 21px;
  }

  .u-section-4 .u-group-1 {
    width: 505px;
    margin-right: 38px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 9px;
    margin-left: 17px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-icon-1 {
    height: 40px;
    width: 40px;
    margin-top: 20px;
    margin-right: 38px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 259px;
  }

  .u-section-4 .u-image-1 {
    width: 99px;
    margin-left: 15px;
  }

  .u-section-4 .u-group-1 {
    width: 474px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: 15px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 6px;
    margin-left: 12px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-icon-1 {
    height: 38px;
    width: 38px;
    margin-right: auto;
    margin-left: 15px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 163px;
  }

  .u-section-4 .u-image-1 {
    width: 84px;
    margin-left: 10px;
  }

  .u-section-4 .u-group-1 {
    width: 322px;
    margin-right: 18px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 4px;
    margin-left: 8px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-icon-1 {
    height: 32px;
    width: 32px;
    margin-right: 36px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 747px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 75px auto 75px 0;
}

.u-section-5 .u-image-1 {
  background-image: url("images/053a21b014fd305856ceaa906732bb03.jpeg");
  min-height: 402px;
  background-position: 50% 50%;
}

.u-section-5 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 252px 25px 0 auto;
}

.u-section-5 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: -64px auto 0 33px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 191px;
  background-image: none;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 6rem;
  line-height: 1;
  margin: 0 20px;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 567px;
  background-image: none;
}

.u-section-5 .u-line-1 {
  width: 140px;
  height: 19px;
  transform-origin: right center 0;
  margin: 75px auto 0;
}

.u-section-5 .u-image-2 {
  height: 342px;
  width: 140px;
  margin: 158px 0 0 auto;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 594px;
}

.u-section-5 .u-shape-1 {
  height: 519px;
  margin: 0 auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-icon-1 {
    height: 53px;
    width: 53px;
    margin-right: 21px;
  }

  .u-section-5 .u-icon-2 {
    height: 53px;
    width: 53px;
    margin-left: 27px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 165px;
  }

  .u-section-5 .u-text-1 {
    position: relative;
    margin-right: 0;
    margin-left: 33px;
  }

  .u-section-5 .u-line-1 {
    width: 115px;
  }

  .u-section-5 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 567px;
  }

  .u-section-5 .u-shape-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-icon-1 {
    height: 40px;
    width: 40px;
    margin-right: 16px;
  }

  .u-section-5 .u-icon-2 {
    height: 40px;
    width: 40px;
    margin-left: 21px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 25px;
  }

  .u-section-5 .u-line-1 {
    width: 88px;
  }

  .u-section-5 .u-image-2 {
    width: 88px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 563px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1218px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-icon-1 {
    height: 38px;
    width: 38px;
    margin-right: 12px;
  }

  .u-section-5 .u-icon-2 {
    height: 38px;
    width: 38px;
    margin-left: 15px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 19px;
  }

  .u-section-5 .u-line-1 {
    width: 83px;
    transform-origin: left center 0;
  }

  .u-section-5 .u-image-2 {
    width: 83px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 845px;
  }

  .u-section-5 .u-shape-1 {
    height: 251px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-icon-1 {
    height: 32px;
    width: 32px;
    margin-right: 7px;
  }

  .u-section-5 .u-icon-2 {
    height: 32px;
    width: 32px;
    margin-left: 10px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 12px;
  }

  .u-section-5 .u-line-1 {
    width: 70px;
  }

  .u-section-5 .u-image-2 {
    width: 69px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 532px;
  }
}.u-section-6 {
  background-image: url("images/887f224c809cb12da865abb941bf4ac0.jpeg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 830px;
}

.u-section-6 .u-group-1 {
  min-height: 247px;
  margin: 528px auto 55px 0;
}

.u-section-6 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  position: relative;
  margin: 30px 20px 0;
}

.u-section-6 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: -90px auto 0 75px;
}

.u-section-6 .u-text-2 {
  width: 563px;
  margin: 39px auto 0;
}

.u-section-6 .u-image-1 {
  width: 168px;
  height: 355px;
  margin: -370px 20px 0 auto;
}

.u-section-6 .u-line-1 {
  width: 912px;
  height: 19px;
  margin: 55px auto 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 775px;
  }

  .u-section-6 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-6 .u-icon-1 {
    height: 53px;
    width: 53px;
    margin-left: 62px;
  }

  .u-section-6 .u-text-2 {
    width: 464px;
    position: relative;
  }

  .u-section-6 .u-image-1 {
    width: 139px;
    margin-right: 62px;
  }

  .u-section-6 .u-line-1 {
    width: 752px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 776px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-icon-1 {
    height: 40px;
    width: 40px;
    margin-left: 47px;
  }

  .u-section-6 .u-text-2 {
    width: 356px;
  }

  .u-section-6 .u-image-1 {
    width: 106px;
    margin-right: 47px;
  }

  .u-section-6 .u-line-1 {
    width: 576px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 775px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-icon-1 {
    height: 38px;
    width: 38px;
    margin-left: 36px;
  }

  .u-section-6 .u-text-2 {
    width: 333px;
  }

  .u-section-6 .u-image-1 {
    width: 99px;
    margin-right: 36px;
  }

  .u-section-6 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 793px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-icon-1 {
    height: 32px;
    width: 32px;
    margin-left: 22px;
  }

  .u-section-6 .u-text-2 {
    width: 280px;
  }

  .u-section-6 .u-image-1 {
    width: 84px;
    margin-right: 22px;
  }

  .u-section-6 .u-line-1 {
    width: 340px;
  }
}